.element__subtitle {
	max-width: 240px;
	font-weight: 500;
	font-size: 20px;
	line-height: 29px;
	color: rgba(0, 0, 0, 1);
	margin: 0;
	left: 21px;
	bottom: 31px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}