.search__button {
	font-weight: normal;
	font-size: 25px;
	min-width: 100px;
	min-height: 50px;
	color:  #000000;
	background: yellow;
	border:none;
	border-radius: 2px;
	margin: auto;
	padding: 0;
	cursor: pointer;
	transition: opacity linear 1s;
}

.popup__save:hover {
	opacity: .8;
}