.element {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background: #FFFFFF;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}

.element:hover {
	opacity: .8;
	cursor: pointer;
}